<div class="container">
  <div class="row">
    <div class="col-10">
      <div class="jumbotron">
        <h2>Reset Password</h2>
        <form name="resetPasswordForm" [formGroup]="resetPasswordForm" (ngSubmit)="resetPasswordForm.valid && onSubmit()">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="text" class="form-control" formControlName="email" [ngClass]="{'is-invalid':resetPasswordForm.get('email').touched && resetPasswordForm.get('email').invalid}"   />
              <div *ngIf="resetPasswordForm.get('email').touched && resetPasswordForm.get('email').invalid"  class="invalid-feedback">
                <div *ngIf="resetPasswordForm.get('email').errors.required">Email Name is required</div>
                <div *ngIf="resetPasswordForm.get('email').errors.email">Email must be a valid email Address</div>
              </div>
            </div>
            <div class="form-group">
              <button class="btn btn-primary"  [disabled]="!resetPasswordForm.valid">Send Link </button>
              <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
            </div>
      </form>
    </div>
  </div>
</div>
</div>
